body {	
	font-family: "Times New Roman", Times, serif;
	background-image: url("../img/grocery-background.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}


.container {
	/*background-image: url("../img/notepad.png");*/
	max-width: 500px;
	max-height: 500px;
	margin: 0 auto;
}

.input {
	max-width: 500px;
	height: 100px;
	margin: 0 auto;
	border-radius: 2px;
	text-align: center;
}

input[type="text"] {
    font-size:45px;
}

h1 {
	margin-top: 3px;
	padding-top: 20px;
	font-size: 48px;
	margin-bottom: 10px;
}

#item {
	margin-top: 8px;
	height: 20px;
	width: 200px;
	vertical-align: center;

}

h2 {
	font-size: 22px;
	margin: 4px 0 0 0;
}

#list {
	margin-top: 0;
	padding: 5px 5px 5px 15px;
	text-align: left;
	list-style: none;
}

#list li {
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

span {
	margin: 0;
}


/*.checked {
	height: 18px;
}

.strikeThrough {
	text-decoration: line-through;
}*/

.delete {
	float: right;
	margin-top: 3px;
	display: block;
	height: 1.2rem;
	width: 1.2rem;
}

.footer {
	background-color: blue;
}
